  <!-- File: templates/header.htm -->
  <!-- Purpose:  Format the header for the SenateSubmit website -->
  <!--           Designed to be an include file -->
  <!-- Authors:  Marietta Cameron & Lisa Sellers>
  <!-- Last Modified:  June 7, 2015  by Mec--> 
  <!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>UNC Asheville SenateSubmit</title>
<link rel="stylesheet" href="SenateSubmit.css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 </head>
 
<body>

<div class="container-fluid">
 <header>
 
    
    <div class="row">
        <div class="col-sm-6"><img src="images/unca_logo.png" alt="Insert Logo Here" width="320" height="90" id="Insert_logo" /></div>
        <div class="col-sm-6">
                   <div class="btn-group">
                       <button type="button" class="btn btn-primary">UNC Asheville Home</button>
                       <button type="button" class="btn btn-primary">Faculty Senate</button>
                       <button type="button" class="btn btn-primary">Catalog</button>
                       <button type="button" class="btn btn-primary">APC Submit GuideLines</button>
                   </div>
         </div>
    </div>
  
  
  </header>
