  <!-- File: templates/OpeningSidebar.htm -->
  <!-- Purpose:  Format sidebar for the SenateSubmit website -->
  <!--           Designed to be an include file -->
  <!-- Authors:  Marietta Cameron & Lisa Sellers>
  <!-- Last Modified:  June 7, 2015  by Mec--> 

<div class="sidebar1">
  <nav>
    <ul>
      <li><a href="#">UNC Asheville Home</a></li>
      <li><a href="#">UNC Asheville Faculty Senate</a></li>
      <li><a href="#">UNC Asheville Catalog</a></li>
      <li><a href="#">APC Submit Guidelines</a></li>
    </ul>
    </nav>
    <aside>
      <p>&nbsp;</p>
    </aside>
  <!-- end .sidebar1 --></div>